{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Portal Faculty</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>
<body>
  <style media="screen">
    *{
      color: #745959;
    }
    input[type=submit]:hover{
            background-color: #87ff9b;
    }
  </style>
    <nav class="navbar navbar-light" style="background-color: #5228de">
  <a href="{% url 'faculty-index' %}" style="color:white">Home</a>

  <ul class="navbar-nav px-3" style="display:flex;flex-direction:row;align-items:center">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">{{request.user.username}}</a>
    </li>
  </ul>
</nav>

   


      {% block body %}


      {% endblock %}

  


</body>
</html>